
<h2><p class="text-center">JADWAL PERTANDINGAN </p></h2>    
<table class="table table-light">
    <thead>
        <th scope="col" class="col-2 col-sm-1">No</th>
        <th scope="col" class="col-2 col-sm-3">MATCHDAY</th>
        <th scope="col" class="col-2 col-sm-3">PERTANDINGAN</th>
        <th scope="col" class="col-2 col-sm-3">JAM</th>
    </thead>
    <tbody>
      <tr class="table-active">
        <th scope="row">1</th>
      <td>RABU, 25 OKTOBER 2021</td>
      <td>RRQ VS EVOS</td>
      <td>18.00 WIB</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>KAMIS, 26 OKTOBER 2021</td>
        <td>ALTER EGO VS ONIC ESPORT</td>
        <td>13.00 WIB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>JUMAT, 27 OKTOBER 2021</td>
        <td>BTR VS AURA</td>
        <td>15.00 WIB</td>
      </tr>
    </tbody>
  </table>