<h3>Team RRQ</h3>
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Username</th>
        <th scope="col">Nama</th>
        <th scope="col">Jenis Kelamin</th>
        <th scope="col">Kota</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>lemon</td>
        <td>Muhammad Ikhsan</td>
        <td>Laki-Laki</td>
        <td>Aceh</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Clayyy</td>
        <td>Deden Mohammed Nurhasan</td>
        <td>Laki-Laki</td>
        <td>Bogor</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Xin </td>
        <td>Yesaya Omega Armando Wowiling</td>
        <td>Laki-Laki</td>
        <td>Bitung</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Vynnn </td>
        <td>Calvin</td>
        <td>Laki-Laki</td>
        <td>Jakarta</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Alberttt </td>
        <td>Albert Neilsen Iskandar</td>
        <td>Laki-Laki</td>
        <td>Bali</td>
      </tr>
    </tbody>
  </table>

<h3>Team EVOS</h3>
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Username</th>
        <th scope="col">Nama</th>
        <th scope="col">Jenis Kelamin</th>
        <th scope="col">Kota</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>REKT</td>
        <td>Gustian Hidayat</td>
        <td>Laki-Laki</td>
        <td>Jakarta</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Wannn</td>
        <td>Muhammad Ridwan</td>
        <td>Laki-Laki</td>
        <td>Pontianak</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Luminaire </td>
        <td>Ihsan</td>
        <td>Laki-Laki</td>
        <td>Jakarta</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Antimage</td>
        <td>Maxhill Leonardo</td>
        <td>Laki-Laki</td>
        <td>Jakarta</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>LJ</td>
        <td>Joshua Darmansyah</td>
        <td>Laki-Laki</td>
        <td>Tangerang, Banten</td>
      </tr>
    </tbody>
  </table>