<html>
<br>
<br>
<br>
<br>
<br><br><br><br><br><br>

<h3><p class="text-center">GameKu</p></h3>
<br>
<body>
    <body style="background-color: darkgray;">
<h5><p class="text-center">GameKu merupakan web sederhana mengenai match esport mpl. Apabila diakses akan menampilkan profil, jadwal bertanding dan, klasemen 
    serta point masing-masing team. Mobile Legends Propesional League atau yang biasa disingkat dengan MPL sendiri adalah sebuah ajang kompetisi profesional yang digelar untuk para pemain dari Mobile Legends. Tim yang berlaga pada turnamen ini akan merebutkan gelar juara dan akan mendapatkan hadiah uang milyaran Rupiah.
</p></h5>
</body>
</body>
</html>